
.tatefas{
   
}
.tarefas input{

    display: block;
  width: 49%;
 
 padding-top: -80% ;
 background-color: antiquewhite;
 margin-left: 0%;
 margin-right: 0%;
}
label{
    display: inline;
  width: 10%;
 padding-top: -8% ;
 background-color: antiquewhite;
 margin-left: 0%;
 margin-right: 0%;
}