@use "/my-app/src/scss/variables.scss" as *;

.deleteScreen {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45rem;
    height: 25rem;
    align-items: center;
    border-radius: 8px;
    font-family: 'Raleway';


    h2 {
        font-weight: 400;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-bottom: 2rem;
    }
    .buttons:hover{
        color: #5c4e4e;

    }

    button {
        width: 15rem;
        height: 4rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        
        font-size: 30px;
    }
    button:hover{
        border-width: 2px;
        border: 40px #0c0c0c;
        color: rgb(12, 12, 12);
       background-color: #493f3f;

    }
    .noButton {
        background-color: $blue-button-color;
        color: rgb(20, 20, 20);
        font-weight: 600;
    }
   
    .yesButton {
        border: 1px black solid;
        font-weight: 500;
    }
    
}